.tag {
    border-radius: 5px;
    padding: 0.7rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
  }
  
  .tag.green {
    background-color: #1b5e20;
  }
  
  .tag.orange {
    background-color: #f57f17;
  }
  
  .tag.red {
    background-color: #7f0000;
  }